@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Source+Code+Pro:ital@1&display=swap');

@mixin image-size {
    height: 25vh;
    width: 25vh;
    place-self: center;
}

.home {
    @include section;
    z-index: 1;

}

.sectionWrapper {
    @include sectionWrapper;
    height: 95vh;
}

.title {
    text-align: center;
    margin-top: 80px;
    padding-bottom: -20px;
    width: 500px;
    font-size: 40px;
    text-transform: capitalize;
    transition: width font-size 2s;
}

.subtitle {
    text-align: center;
    margin-top: -10px;
    font-size: 22px;
    width: 500px;
    font-family: $text-font;
    transition: width 2s;
}

.container {
    justify-items: center;
    display: grid;
    grid-column: 1 / span 12;
    grid-row: 10/ span 75;
    grid-template-columns: repeat(3, 33.33333%);
    grid-template-rows: repeat(2, 47%) 30px;
    background-color: $secondary-color;
    border-radius: 20px;
}

.btnContainer {
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}


.btn {
    background-color: $tertiary-color;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    cursor: pointer;
}

.image1 {
    @include image-size();
    grid-column: 1;
    grid-row: 1;
    transition: width height 2s;
    margin-right: 92%;
    transform: rotate(-15deg);
}

.image2 {
    @include image-size();
    grid-column: 1;
    grid-row: 2;
    transition: width 2s;
    transform: rotate(5deg);
}

.image3 {
    @include image-size();
    grid-column: 3;
    grid-row: 1;
    margin-left: 100%;
    transition: width 2s;
    transform: rotate(-5deg);
}

.image4 {
    @include image-size();
    grid-column: 3;
    grid-row: 2;
    transition: width 2s;
    transform: rotate(12deg);
}

.btop {
    @include nav-font;
    position: fixed;
    left: 0.5em;
    margin-top: 35em;
    padding-bottom: 4px;
    margin-left: -2.8em;
    transform: rotate(-90deg);
    cursor: pointer;
    color: gray;
}



.span_arrow {
    color: white;
    writing-mode: vertical-lr;
    font-family: 'Manrope', sans-serif;
    font-size: 3.5em;
    height: 40px;
    width: 40px;
    margin-left: -0.35em;
    margin-top: 0.1em;

}

@media (min-width:320px) {
    .title {
        width: 300px;
        font-size: 30px;
    }

    .subtitle {
        width: 300px;
        font-size: 18px;
    }

    .image1 {
        width: 100px;
        height: 100px;
    }

    .image2 {
        width: 100px;
        height: 100px;
    }

    .image3 {
        width: 100px;
        height: 100px;
    }

    .image4 {
        width: 100px;
        height: 100px;
    }
}

@media(min-width:800px) {
    .image1 {
        width: 200px;
        height: 200px;
    }

    .image2 {
        width: 200px;
        height: 200px;
    }

    .image3 {
        width: 200px;
        height: 200px;
    }

    .image4 {
        width: 200px;
        height: 200px;
    }
}

@media(min-width: 1200px) {
    .image1 {
        width: 250px;
        height: 250px;
    }

    .image2 {
        width: 250px;
        height: 250px;
    }

    .image3 {
        width: 250px;
        height: 250px;
    }

    .image4 {
        width: 250px;
        height: 250px;
    }
}