@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Source+Code+Pro:ital@1&display=swap');

@mixin image-size {
    height: 25vh;
    width: 25vh;
    place-self: center;
}

.home {
    @include section;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.container {

    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
    grid-template-rows: repeat(2, 47%) 30px;
    background-color: $secondary-color;
    margin-left: 24vh;
    width: max(80%, 800px);
    height: max(80%, 420px);
    border-radius: 20px;
    margin-top: 0.01rem;
}

.btnContainer {
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}


.btn {
    background-color: $tertiary-color;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    cursor: pointer;
}

.image1 {
    @include image-size();
    grid-column: 1;
    grid-row: 1;
    margin-right: 92%;
    transform: rotate(-15deg);
}

.image2 {
    @include image-size();
    grid-column: 1;
    grid-row: 2;
    margin-right: 97%;
    transform: rotate(5deg);
}

.image3 {
    @include image-size();
    grid-column: 3;
    grid-row: 1;
    margin-left: 100%;
    transform: rotate(-5deg);
}

.image4 {
    @include image-size();
    grid-column: 3;
    grid-row: 2;
    margin-left: 88%;
    transform: rotate(12deg);
}

.btop {
    position: fixed;
    margin-top: 32em;
    padding-bottom: 4px;
    margin-left: -2.8em;
    transform: rotate(-90deg);
    cursor: pointer;
    @include nav-font;
    color: gray;
}



.span_arrow {
    color: white;
    writing-mode: vertical-lr;
    font-family: 'Manrope', sans-serif;
    font-size: 3.5em;
    height: 40px;
    width: 40px;
    margin-left: -0.35em;
    margin-top: 0.1em;

}
