@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';


.nav>ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: max(80%, 800px);
}

.nav>ul>div {
    margin-right: 10em;
}

.nav>ul>li {
    list-style: none;

}


.nav>ul>li>a {
    @include nav-font;

}