@import "@/styles/abstract/mixin";
@import "@/styles/abstract/variable";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");


.dashboard {
    @include section;
    background-color: $dashboard-bg-color;

    @media (min-width: 600px) {
        height: max(700px, 140vh);
    }

    @media (max-width: 600px) {
        height: max(700px, 140vh);
    }

    @media(min-width: 992px) {
        margin-left: 370px;
        height: max(750px, 100vh);
    }
}

.sectionWrapper {
    @include sectionWrapper;
    height: 95vh;
    margin-bottom: 32px;

    @media(min-width:300px) {
        width: 92%;
        margin-left: 42px;
        margin-top: 60px;
    }
}




////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
///dashboard cards////////////////////////////////////////////////////////////////////// 
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////

.profile,
.meetCard,
.registrationCard {
    @include dashboard_cards;
    display: block;
    display: flex;
}

@media (min-width: 600px) {
    .profile {
        grid-column: 1/ span 8;
        grid-row: 4/ span 42;
    }

    .meetCard {
        grid-row: 49/span 35;
        grid-column: 1/ span 8;

    }

    .registrationCard {
        grid-row: 49/span 35;
        grid-column: 10/ span 12;
    }

}

@media (max-width: 600px) {
    .profile {
        grid-column: 1/ span 4;
        grid-row: 4/ span 42;
    }

    .meetCard {
        grid-row: 49/span 35;
        grid-column: 1/ span 8;

    }

    .registrationCard {
        grid-row: 49/span 35;
        grid-column: 10/ span 12;
    }

}

@media (min-width: 992px) {
    .profile {
        @include dashboard_cards;
        grid-column: 1/ span 12;
        grid-row: 4/ span 42;
    }

    .meetCard {
        grid-row: 49/span 35;
        grid-column: 1/ span 8;
        margin-right: 15px;
    }

    .registrationCard {
        grid-row: 49/span 35;
        grid-column: 9/ span 12;
        margin-left: 15px;

    }
}

////////////////////////////////////////////////////////////////////////
/// profile card specific css //////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

.editButton {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 8px;
    border-style: none;
    background-color: #f0efef;
}

////////////////////////////////////////////////////////////////////////
/// meet card specific css //////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.meetWindow {
    display: flex;
    height: 80%;
    width: 60%;
    margin: 1.7em;
    border-radius: 8px;
    background-color: $dashboard-sidebar-bg-color;
    justify-items: center;
    text-align: center;
}

.meetJoin {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.meetJoin>p {
    height: 50%;
    width: auto;
    padding: 1.5em;
    padding-top: 3.5em;
    text-align: center;
}

.joinButton {
    justify-self: center;
    align-self: center;
    height: auto;
    margin-bottom: 3.5em;
}

////////////////////////////////////////////////////////////////////////
/// profile card specific css //////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

.profile{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
}

.photo {
    height: 50px;
    width: 50px;
    padding: 1em;
    border-radius: 50px;
    margin-top: 9%;
    margin-left: 6%;
    text-align: center;
    border: solid 1px rgb(193, 193, 193);
    grid-column: 1;
}

.headCard {
    border-radius: 8px;
    width: 50%;
    grid-column: 1;
    margin-top: -15%;
    margin-left: 27%;
    display: grid;
    height: 40%;
}

.nameHead{
    grid-column: 1;
    border-radius: 8px;
    height:auto;
    font-size: x-large;
    font: $heading-font;
}

.emailHead{
    grid-column: 1;
    border-radius: 8px;
    height:auto;
    color: rgb(137, 137, 137);
    font-size: medium;
}

.locDetails{
    grid-column: 2;
    row-gap: 20px;
    height:190px;
    width: 95%;
    border-radius: 8px;
}

.collegeName{
    height: 25px;
    width: 90%;
    padding: 0.5em;
    border: solid 1px rgb(193, 193, 193);
    border-radius: 8px;
}

.stateName{
    height: 25px;
    width: 90%;
    padding: 0.5em;
    border: solid 1px rgb(193, 193, 193);
    border-radius: 8px;
}

.phNumber{
    height: 25px;
    width: 90%;
    padding: 0.5em;
    border: solid 1px rgb(193, 193, 193);
    border-radius: 8px;
}