@import "@/styles/abstract/mixin";
@import "@/styles/abstract/variable";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

.about {
  @include section;
  background-color: $fourth-color;
  z-index: 1;
}

.aboutTitle {
  @include sectionTitle;
}

.sectionWrapper {
  @include sectionWrapper;
  z-index: 1;
}

.aboutPara1 {
  padding: 8%;
  font-size: 60%;
  line-height: 1.7em;
  font-family: "Golos Text", sans-serif;
}

.aboutPara2 {
  padding: 8%;
  font-size: 60%;
  line-height: 1.7em;
  font-family: "Golos Text", sans-serif;
  background-color: $tertiary-color;
}

@media (max-width: 600px) {
  .aboutPara1 {
    grid-column: 1 / span 4;
    grid-row: 34 / span 22;
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 8%;
    font-size: 60%;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
    color: $primary-color;
  }

  .aboutPara2 {
    grid-column: 1 / span 4;
    grid-row: 61 / span 22;
    background-color: $tertiary-color;
    border-radius: 10px;
    padding: 8%;
    font-size: 60%;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
  }

  @media (min-height: 910px) {
    .aboutPara1 {
      grid-column: 1 / span 4;
      grid-row: 34 / span 32;
    }

    .aboutPara2 {
      grid-column: 1 / span 4;
      grid-row: 70 / span 32;
    }
  }
}

@media (min-width: 600px) {
  .aboutPara1 {
    grid-column: 1 / span 8;
    grid-row: 28 / span 30;
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 8%;
    font-size: 0.85em;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
    color: $primary-color;
  }

  .aboutPara2 {
    grid-column: 1 / span 8;
    grid-row: 57 / span 30;
    background-color: #c2d0e2;
    border-radius: 10px;
    padding: 8%;
    font-size: 0.85em;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
  }

  @media (min-height: 910px) {
    .aboutPara1 {
      grid-column: 1 / span 8;
      grid-row: 30 / span 45;
    }

    .aboutPara2 {
      grid-column: 1 / span 8;
      grid-row: 80 / span 45;
    }
  }
}

@media (min-width: 992px) {
  .aboutPara1 {
    grid-column: 2 / span 4;
    grid-row: 24 / span 60;
    background-color: $secondary-color;
    border-radius: 10px;
    z-index: 1;
    padding: 8%;
    padding-top: 15%;
    font-size: 0.9em;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
    color: $primary-color;
  }

  .aboutPara2 {
    grid-column: 8 / span 4;
    grid-row: 24 / span 60;
    background-color: #c2d0e2;
    border-radius: 10px;
    z-index: 1;
    padding: 8%;
    padding-top: 15%;
    font-size: 0.9em;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
  }

  @media (min-height: 910px) {
  }
}

@media (min-width: 1150px) {
  .aboutPara1 {
    grid-column: 2 / span 4;
    grid-row: 24 / span 60;
    background-color: $secondary-color;
    border-radius: 10px;
    z-index: 1;
    padding: 8%;
    padding-top: 15%;
    font-size: 1em;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
    color: $primary-color;
  }

  .aboutPara2 {
    grid-column: 8 / span 4;
    grid-row: 24 / span 60;
    background-color: #c2d0e2;
    border-radius: 10px;
    z-index: 1;
    padding: 8%;
    padding-top: 15%;
    font-size: 1em;
    line-height: 1.7em;
    font-family: "Golos Text", sans-serif;
  }
}
