@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';

.registration {
    @include section;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% 85%;
    justify-items: center;
    column-gap: 2em;
}

.cards_right {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: 30%;
    padding-right: 2em;
}

.cards_left {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 45%;
    padding-left: 2em;
}

.heading {
    place-items: center;
    text-align: center;
    grid-column: 2/ span 2;
}

.card1 {
    max-width: 100%;
    min-width: 16em;
    height: 27em;
    margin-top: 7em;
    border-radius: 5%;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: "Golos Text", sans-serif;
}

.card1>p {
    text-align: left;
    padding: 3em 1em 0em 1em;
    color: aliceblue;
    font-family: "Golos Text", sans-serif;
    font-weight: 1000;
}

.card2 {
    min-width: 16em;
    max-width: 100%;
    margin-top: 7em;
    height: 27em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #b8ff65;
    border-radius: 5%;

}

.card2>p {
    color: black;
    font-family: "Golos Text", sans-serif;
    text-align: left;
    padding: 3em 1em 0em 1em;
    font-weight: 1200;
    font-weight: bold;
}