@import "@/styles/abstract/mixin";
@import "@/styles/abstract/variable";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");



.privacyPolicy {
    @include section;
    background-color: #f1f3f7f4;

    @media (min-width: 600px) {
        height: max(700px, 140vh);
    }

    @media (max-width: 600px) {
        height: max(700px, 140vh);
    }

    @media(min-width: 992px) {
        margin-left: 370px;
        height: max(750px, 115vh);
    }
}

.sectionWrapper {
    @include sectionWrapper;
    height: 105vh;
    margin-bottom: 32px;

    @media(min-width:300px) {
        width: 92%;
        margin-left: 42px;
        margin-top: 60px;
    }
}

.privacyCard {
    grid-row: 3 / span 94;
    grid-column: 1 / span 12;
    position: relative;
    background-color: $primary-color;
    border-radius: 8px;
    padding: 2em;
    padding-top: 0.5em;
    height: auto;

}

.editPrivacyButton {
    border-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}