@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';

.card{
    margin-top: min(3vh, 1em);
    background-color: $secondary-color;
    margin-left: 74vh;
    width: max(30%, 150px);
    height: max(80%, 420px);
    border-radius: 15px;
}

.container {
    background-color: $secondary-color;
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 45% 45% 10%;
    text-align: center;
    row-gap: 10px;

}

.subcontainer{
    background-color: white ;

}

.button{
    background-color: $tertiary-color;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    cursor: pointer;

}