@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';

.card{
    margin-top: 200px;
    background-color: $secondary-color;
    margin-left: 90vh;
    width: max(15%, 150px);
    height: max(55%, 420px);
    border-radius: 15px;
    overflow : hidden;

}

.container {
    z-index: 1;
    top: 215px;
    left: -30px;
    position:relative;
    background-color: transparent;
    display: grid;
    margin-top: 17vh;
    width: max(70%,400px);
    height: 400px;
    grid-template-columns: 100%;
    grid-template-rows: 40%,60%;
    text-align: center;
    rotate: calc(-20deg);
    row-gap:5px;
}

.button{
    z-index: 100;
    position: absolute;
    background-color: red; //temporary 
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 610px;
}

.card:hover .namecontainer{
    height: 100%;
}

.card:hover .detailcontainer{
    height: 100%;
}

.namecontainer{
    background-color: $tertiary-color ;
    height :55%;
    width :max(70%,400px);
    transform: translate(50px,-150px);
    transition: .5s ease;
    
}

.detailcontainer{
    background-color: $tertiary-color ;
    margin-top: -92px;
    height :80%;
    width :max(70%,400px);
    transform: translate(50px,-150px);
    transition: .5s ease;
}


