@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';

.card{
    margin-top: 200px;
    background-color: $secondary-color;
    margin-left: 90vh;
    width: max(15%, 150px);
    height: max(50%, 360px);
    border-radius: 15px;
    overflow : hidden;
}

.container {
    display: grid;
    position:relative;
    grid-template-rows:repeat(2, 23%) 15px;
    row-gap: 4px;
    z-index: 1;
    top: 280px;
    left: -50px;
    width: max(50%,500px);
    height: 400px;
    rotate: calc(-20deg);
    text-align: center;
    background-color: transparent;
    animation:forwards;
    transition: .5s ease;
}

.button{
    z-index: 100;
    position: relative;
    background-color: red; //temporary 
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 500px;
    margin-left:200px;
}

.card:hover .container{
    top:110px;
}

.namecontainer{
    background-color:$tertiary-color ;
    width :max(70%,500px);  
}

.detailcontainer{
    background-color:$tertiary-color ;
    width :max(70%,500px);
    height: 200px;
}


