@mixin section {
  height: max(700px, 100vh);
  display: flex;
  justify-content: center;
  scroll-margin-top: 3.6em;
}
@mixin sectionTitle {
  @media (max-width: 600px) {
    grid-column: 1 / span 4;
    grid-row: 8 / span 22;
    text-align: center;
    font-size: 1.7em;
  }

  @media (min-width: 600px) {
    grid-column: 2 / span 6;
    grid-row: 8 / span 22;
    text-align: center;
    font-size: 1.7em;
  }

  @media (min-width: 992px) {
    grid-column: 4 / span 6;
    grid-row: 5 / span 17;
    text-align: center;
    font-size: 2em;
    z-index: 1;
  }
}
@mixin sectionWrapper {
  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(200, 8px);
    width: 70%;
  }

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(200, 8px);
    width: 70%;
  }

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(200, 8px);
    width: 70%;
  }
}

@mixin nav-font {
  text-decoration: none;
  font-family: $text-font;
  font-weight: 600;
  color: $tertiary-color;
  user-select: none;
}
@mixin mix_black_button {
  height: 3em;
  width: 9.1em;
  border-radius: 5px;
  border-style: none;
  font-family: $text-font;
  font-weight: 500;
  border-color: black;
  background-color: black;
  color: $primary-color;
  cursor: pointer;
}
@mixin login_signup_card_wrapper {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  width: max(300px, 65%);
  height: max(400px, 63%);
  margin-left: 5.5em;
  margin-top: 7em;
  padding-top: 1em;
  background-color: $tertiary-color;
  border-radius: 10px;
  place-self: center;
  color: $primary-color;
  font-family: $text-font;
}

@mixin mix_span_heading {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: $secondary-color;
}

@mixin mix_input_box {
  padding: 0.3em;
  border-radius: 8px;
  margin: 0;
  width: 80%;
  font-family: $text-font;
}

@mixin mix_login_signup_text {
  font-size: 0.9em;
}

@mixin mix_login_signup_link {
  color: $secondary-color;
  text-decoration: none;
}

@mixin mix_green_button {
  height: 2.7em;
  width: 7em;
  border-radius: 8px;
  border-style: none;
  border-color: $secondary-color;
  background-color: $secondary-color;
  font-family: $text-font;
  font-weight: 600;
}

@mixin nav-font {
  text-decoration: none;
  font-family: $text-font;
  font-weight: 600;
  user-select: none;
  color: $tertiary-color;
}

@mixin secondary-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: right;
  z-index: 999;
  height: auto;
  width: 200px;
  gap: 1em;
  top: 0;
  border-radius: 8px;
  padding: 1em;
  padding-left: 2em;
  box-shadow: 0px 0px 12px 0px $tertiary-color;
  background-color: $primary-color;
}

@mixin profile-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: right;
  z-index: 999;
  height: auto;
  width: 200px;
  gap: 1em;
  top: 0;
  border-radius: 8px;
  padding: 1em;
  padding-left: 2em;
  box-shadow: 0px 0px 12px 0px $tertiary-color;
  background-color: $primary-color;
}

@mixin mix_input_box {
  padding: 0.3em;
  border-radius: 8px;
  margin: 0;
  width: 250px;
  font-family: $text-font;
}

@mixin dashboard_cards {
  border-radius: 8px;
  position: relative;
  background-color: $primary-color;
}
