$primary-color: #ffffff;
$secondary-color: #afff65;
$tertiary-color: #161616;
$fourth-color: #f0efef;
$dashboard-bg-color: #f1f3f7f4;
$dashboard-sidebar-bg-color: #E6F6FF;
$dashboard-sidebar-font-color: #002159;
$dashboard-timer-color: #002159e9;

//fonts
$heading-font: 'Barlow', sans-serif;
$text-font: 'Roboto Mono', monospace;