@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';



.footer {
    background-color: $tertiary-color;
    z-index: 1010;
    position: relative;
}

.container {
    max-width: 1170px;
    background-color: transparent;
    margin: auto;
    z-index: 1010;
}


.copyright {
    color: gray;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    z-index: 1010;
}