@import '@/styles/abstract/mixin';
@import '@/styles/abstract/variable';



.footer{
    height:fit-content;
    background-color: $tertiary-color; 
    
}

.container{
    max-width: 1170px;
    background-color: transparent;
    margin: auto;
}

.rows{
    display:flex;
    padding-top: 2em;
    justify-content: space-around; 

}

.copyright{
    color: gray;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 10px;
}

.link1{
    font-size: 110%;
    color:$primary-color;
    font-size: 17px;
    text-transform: uppercase;
    list-style: none;
    color: $fourth-color;
}

