//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


@import 'abstract/mixin';
@import 'abstract/variable';

*,
html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}